h1{
    font-family: 'Alex Brush', cursive;
    text-align: center;
}

.art{
    margin: auto;
}

td{
    width: 150px;
    height: 300px;
    border: 6px solid white;
}

#box1{
    background-color: #36393B;
}

#box2{
    background-color: #A5D8FF;
}

#box3{
    background-color: #AFD0D6;
}

#box4{
    background-color: #BFB6BB;
}

#box5{
    background-color: #C49799;
}
